/*
table.productsTable {
    border-width: 1px;
    border-spacing: 2px;
    border-style: outset;
    border-color: gray;
    border-collapse: separate;
    background-color: white;
}

table.productsTable td {
    border-width: 1px;
    padding: 1px;
    border-style: inset;
    border-color: gray;
    background-color: white;
    -moz-border-radius: ;
}

*/

th.informe3 {

    border-top: 0px;
    border-right: 1px solid;
}
th.informe2 {

    border-bottom: 0px;
    border-right: 1px solid;
}
th.informe {

    border-right: 1px solid;
}

td.pieinforme {
    border-width: 2px;
    font-weight: bold;
}