{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
{{block right_sidebar}}
{{pass}}
<blockquote> 
<a href="nueva_entrada" class="btn btn-large btn-primary">Añadir una nueva entrada de almacén</a>
</blockquote> 
<div class="container-fluid">

  {{=form.custom.begin}}

    <div class="row-fluid">
      <h4>Buscar en las entradas:</h4>
      <div class="row-fluid">
        <div class="span1">Código: 
        <input class="integer" id="Alimento_Codigo" name="Codigo" type="text" value="" style="width:50px">
      </div>
        <div class="span4">Alimento: 
           <input class="string ui-autocomplete-input" id="Alimento_Descripcion" name="Descripcion" type="text" value="" autocomplete="off">
        </div>    
      </div>
       <div class="row-fluid">
        <div class="span1" id="fechas">Fecha: {{=form.custom.widget.Fecha}}</div>
        <div class="span3">Donante: {{=form.custom.widget.Donante}}</div>
        <div class="span3">Procedencia: {{=form.custom.widget.tipoProcedencia}}</div>
    </div>
  </div>
  {{=form.custom.end}}


  <div class="row-fluid">
    <h4>Entradas de almacén:</h4>

   
    <table id="list"></table>
    <div id="pager"></div>


  </div>  
 

</div>

 <style>
      
      .ui-pg-input{width:20px;}
      .ui-pg-selbox{width:50px;padding-top: 0px;}
    #CabeceraEntrada_Fecha{ width: 80px;}
    #pager_left{width:10px;}
  </style>



<script type="text/javascript">
    function removeSpaces(string) {
    // quita los espacios y todos los caraceres que no son un número
         return string.split(' ').join('').replace(/[^0-9]/g, ''); 
    }   
    
    function buscar_alimento() {
        var codigo = removeSpaces(jQuery("#Alimento_Codigo").val());
        var data= {"codigo":codigo};
            jQuery.getJSON( 'get_codigo', 
              data, function( data, status, xhr ) {
              if (data['alimento']=='') {
                jQuery("#Alimento_Descripcion").val("");
                jQuery("#Alimento_Codigo").val("");
              } else {
                jQuery("#Alimento_Descripcion").val(data['alimento']);}
              jQuery("#list").jqGrid().trigger("reloadGrid");
            });        
        
    }   
    
    function set_parametros(param,obj) {
          var jsonString={objeto:  obj.val(),param:param };
          jQuery.post('set_parametros', jsonString, {contentType: 'application/json'} )
                .success(function(data) {           
                      jQuery("#list").jqGrid().trigger("reloadGrid");     
                });
     }


    function borra_linea(id) {
      var r = confirm("¿Seguro que quiere borrar esta entrada?");
      if (r==true)
      {
            var jsonString={'entrada_id':  id };
            jQuery.post("{{=URL(c='almacen',f='borra_entrada')}}", jsonString, {contentType: 'application/json'} )
                  .success(function(data) {           
                  jQuery("#list").jqGrid().trigger("reloadGrid");     
            }); 
      }
    }

 $(document).ready(function() {
   // chrome fix.
   document.onselectstart = function () { return false; };             
  jQuery("#Alimento_Codigo").focus();

    jQuery('#Alimento_Codigo').keyup(function(e){
        if(e.keyCode == 13)
        {
            buscar_alimento();
        }
    });
    jQuery('#Alimento_Codigo').change(function(){
            buscar_alimento();
    });

   jQuery('#Alimento_Descripcion').autocomplete({
      minLength: 2,
      source: function( request, response ) {
            jQuery.getJSON( 'get_alimentos', 
              request, function( data, status, xhr ) {
              response( data );
            });
        },
    select: function( event, ui ) {
      var jsonString={'alimento':  ui.item.value};
      jQuery.post('set_alimento', jsonString, {contentType: 'application/json;charset=utf-8'} )
            .success(function(data) {
                if (data =='') {
                  jQuery("#Alimento_Descripcion").val("");
                  jQuery("#Alimento_Codigo").val("");
                } else {
                  jQuery("#Alimento_Codigo").val(data);
                }    
                  jQuery("#list").jqGrid().trigger("reloadGrid");   
            });

    }        

    });


   jQuery("#CabeceraEntrada_Fecha").focusout(function() {
       set_parametros('fecha',jQuery(this));
   });
    
    //jQuery("#CabeceraEntrada_Fecha").bind('input', function() { 
     //   set_parametros('fechachange',jQuery(this));
    //});

   jQuery("#CabeceraEntrada_Donante").change(function() {
        set_parametros('donante',jQuery(this));
   });

   jQuery("#CabeceraEntrada_tipoProcedencia").change(function() {
        set_parametros('procedencia',jQuery(this));
   });


  jQuery("#list").jqGrid({
    url:'{{=URL(r=request,f="call",args=["json","get_rows_entradas"])}}',
    data: "{}",
    datatype: 'json',
    mtype: 'GET',
    contentType: "application/json; charset=utf-8",
    cellEdit: false,
    cellsubmit:'remote',
    multiselection: false,
    complete: function(jsondata, stat) {
        if (stat == "success") {
            var thegrid = jQuery("#list")[0];
            thegrid.addJSONData(JSON.parse(jsondata.responseText).d);
        }
    },
    colNames:[' ','Donante','Fecha', 'Procedencia'],
    colModel :[
      {name:'action', width:30, sortable:false,align:"center" },
      {name:'Donante', index:'Donante',width:250},
      {name:'Fecha', index:'Fecha',width:170, align:"center", formatter:'date',formatoptions:{
       srcformat: 'Y-m-d', newformat: 'd/m/Y'}},
      {name:'Procedencia', index:'Procedencia',width:170,align:"center"},
    ],
    pager: '#pager',
    rowNum:10,
    rowList:[10,20,30],
    sortname: 'Descripcion',
    sortorder: 'asc',
    viewrecords: true,
    caption: 'Clic en "+" para ver las líneas de las entradas y doble clic para editar una entrada',
    altRows:true,
    height: 'auto',
    width: 'auto',
  subGrid : true,
  subGridUrl: 'get_lineas_entradas',
    subGridModel: [{ name  : ['Alimento','Unidades','Peso/Unidad','Caducidad','Lote'], 
                    width : [200,70,70,70,70] } ],
    loadComplete: function(data){
         var grid =jQuery("#list")
         var ids = grid.jqGrid("getDataIDs");
         if(ids && ids.length > 0)
            grid.jqGrid("setSelection", ids[0]);       
    }, //fin del evento loadcomplete
  ondblClickRow: function (id){

    window.location.href='{{=URL(r=request,f="nueva_entrada")}}' + '/' + id;
  }, // fin del evento dblclick
  gridComplete: function() {
       var thegrid =jQuery("#list")
       var ids = thegrid.jqGrid("getDataIDs");
        for(var i=0;i < ids.length;i++){
          var cl = ids[i];
          //be = "<input style='height:22px;width:20px;' type='button' value='Borrar' onclick=\"jQuery('#list').editRow('"+cl+"');\"  />"; 
          //be = '<a class="btn btn-mini" href="#" onclick=\"borra_linea('"+cl+"');\"><i class="icon-trash"></i></a>';
          be = '<i class="icon-trash" onclick=\"borra_linea('+cl+');\"></i>';
          thegrid.jqGrid('setRowData',ids[i],{action:be});
        }
  }, // fin del evento gridComplete  
  });
 

  });

</script>
