{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
{{block right_sidebar}}
{{pass}}

<h4>Importar salidas desde hoja de cálculo</h4>

<div class="container-fluid">
  <div class="well well-small">



<form action="" enctype="multipart/form-data" method="post">
	<input name="_formname" type="hidden" value="hoja_form">
	<input class="string" name="sheet_title" type="text" value="">
	<input class="upload" name="sheet_file" type="file">
	<input type="submit" value="Enviar">
</form>


  </div>

	{{ if len(procesados)>0:}}
<h3>Se han procesados salidas para:</h3>
		<ul>
		{{for salida in procesados:}}
			<li>{{=salida[0]}} con un total de {{=salida[1]}} Kg.</li>

		{{pass}}
		</ul>
	{{pass}}
<hr/>
	{{if len(errores)>0:}}
		<h3> Ha habido estos errores al procesar el archivo:</h3>
		<ul>
		{{for error in errores:}}
			<li>{{=error[1]}} procesando {{=error[0]}}

		{{pass}}
		</ul>
	{{pass}}