{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
{{block right_sidebar}}
{{pass}}

<h4>Nueva salida</h4>

<div class="container-fluid">
  <div class="well well-small">
      {{=form.custom.begin}}

        <div class="row-fluid">

          <div class="row-fluid">
            <div class="span1" id="fechas">Fecha: {{=form.custom.widget.Fecha}}</div>
            <div class="span4">Beneficiario: {{=form.custom.widget.Beneficiario}}</div>
           
          </div>
           <div class="row-fluid">
             {{=form.custom.submit}}
           </div>
        </div>
      {{=form.custom.end}}
  </div>

{{if session.current_entrada:}}

          <div class="row-fluid">
            <h5>Líneas:</h5>
              <div class="well well-small">





                <div class="row-fluid">
                      <div class="span1">Código: 
                        <input class="integer" id="Alimento_Codigo" name="Codigo" type="text" value={{=codigo_alimento}} style="width:50px">
                      </div>
        {{=frmlineas.custom.begin}}
                      <div class="span3">{{=frmlineas.custom.label.alimento}}:
                        {{=frmlineas.custom.widget.alimento}}
                       </div> 
                        <div class="span1">{{=frmlineas.custom.label.Unidades}}:
                        {{=frmlineas.custom.widget.Unidades}}
                       </div>  
                        <div class="span1">{{=frmlineas.custom.label.PesoUnidad}}:
                        {{=frmlineas.custom.widget.PesoUnidad}}
                       </div>
                        <div class="span2"  style="display:none;">{{=frmlineas.custom.label.PrecioKg}}:
                        {{=frmlineas.custom.widget.PrecioKg}}
                       </div> 
                         <div class="span1">{{=frmlineas.custom.label.Caducidad}}:
                        {{=frmlineas.custom.widget.Caducidad}}
                       </div>
                </div>
               <div class="row-fluid">
 
                        <div class="span1" style="display:none;">{{=frmlineas.custom.label.Lote}}:
                        {{=frmlineas.custom.widget.Lote}}
                       </div>  
                        <div class="span1"  style="display:none;">{{=frmlineas.custom.label.estanteria}}:
                        {{=frmlineas.custom.widget.estanteria}} {{=frmlineas.custom.widget.LineaAlmacen}}
                       </div>

                        <div class="span2" style="display:none;" id="stockalimento">Stock Disponible:
                        <strong><span id="valorstock"></span></strong>
                       </div>

                        <div class="span3">
                        {{=frmlineas.custom.submit}} 
                       </div> 
               </div>
               <div class="row-fluid">
                              
               </div>        
        {{=frmlineas.custom.end}}
  
              </div> <!-- fin del well lineas-->

            <table id="list"></table>
            <div id="pager"></div>


          </div>  
{{pass}} 

</div>


 <style>
      
      .ui-pg-input{width:20px;}
      .ui-pg-selbox{width:50px;padding-top: 0px;}
    #CabeceraSalida_Fecha{ width: 80px;}
    #CabeceraSalida_Beneficiario{ width: 280px;}
    #LineaSalida_Unidades{ width: 80px;}
    #LineaSalida_PesoUnidad{ width: 80px;}
    #LineaSalida_PrecioKg{ width: 80px;}
    #LineaSalida_alimento{ width: 260px;}
    #LineaSalida_Caducidad{ width: 80px;}
    #LineaSalida_Lote{ width: 80px;}
    #LineaSalida_estanteria{ width: 80px;}
    #LineaSalida_LineaAlmacen{ display: none;}
    #pager_left{width:10px;}
    .well {margin-bottom:2px;}
  </style>

<script src="{{=URL('static','js/autoNumeric.js')}}"></script>
<script type="text/javascript">
  var stockdisponible=0;
  var stockdisponible_text="";
    function removeSpaces(string) {
    // quita los espacios y todos los caraceres que no son un número
         return string.split(' ').join('').replace(/[^0-9]/g, ''); 
    }   

    function buscar_alimento() {
        //jQuery("#contenedor_almacen").hide();
        jQuery("#stockalimento").hide();
        var codigo = removeSpaces(jQuery("#Alimento_Codigo").val());
        var data= {"codigo":codigo};
            jQuery.getJSON( "{{=URL(c='almacen',f='get_codigo')}}", 
              data, function( data, status, xhr ) {
              if (data['alimento']=='') {
                jQuery("#LineaSalida_alimento").val("");
                jQuery("#Alimento_Codigo").val("");
                jQuery("#Alimento_Codigo").focus();
                alert("No hay stock de este producto");
              } else {
                jQuery("#LineaSalida_alimento").val(data['alimento']);
                jQuery("#LineaSalida_Unidades").focus();

                //jQuery("#contenedor_almacen").show();}
                //jQuery("#almacen").jqGrid().trigger("reloadGrid");
                jQuery("#stockalimento").show();
                stockdisponible=data['stock'];
                stockdisponible_text=data['stock-text'];
                jQuery("#valorstock").text(data['stock-text']);}

            });        
    }   

    function borra_linea(id) {
      var r = confirm("¿Seguro que quiere borrar esta línea?");
      if (r==true)
      {
            var jsonString={'linea_id':  id };
            jQuery.post("{{=URL(c='almacen',f='borra_linea')}}", jsonString, {contentType: 'application/json'} )
                  .success(function(data) {           
                  jQuery("#list").jqGrid().trigger("reloadGrid");     
            }); 
      }
    }


 jQuery(document).ready(function() {
   // chrome fix.
   document.onselectstart = function () { return false; };             

    {{if session.NuevaLinea:}}
    jQuery("#Alimento_Codigo").focus();
    {{else:}}
    jQuery("#CabeceraSalida_Beneficiario").focus();
    {{pass}}

    jQuery('#LineaSalida_Unidades').removeClass("double");
    jQuery('#LineaSalida_Unidades').autoNumeric('init', {aSep: '.', aDec: ','});
    jQuery('#LineaSalida_PesoUnidad').removeClass("double");    
    jQuery('#LineaSalida_PesoUnidad').autoNumeric('init', {aSep: '.', aDec: ','});    
    jQuery("#LineaSalida_Unidades").focusout(function() {
      current_value =  parseInt($(this).val());
      if (current_value>stockdisponible) 
        $(this).val(stockdisponible_text);
        alert("Ajustadas las unidades al máximo stock disponible en almacén: " + stockdisponible_text);

    });

    jQuery('#LineaSalida_Unidades').focus(function(){
            if (jQuery('#LineaSalida_Unidades').val()=="1,00")
              jQuery('#LineaSalida_Unidades').val("");
            else
            $(this).select();
    });
      
      //Para deshacer el formateado numérico en español antes de enviar el formulario
      jQuery('#frmlineas').submit(function(){
        var unidades=jQuery("#LineaSalida_Unidades");
        var v=unidades.autoNumeric('get');
        unidades.autoNumeric('destroy');
        unidades.val(v);
        var peso=jQuery("#LineaSalida_PesoUnidad");
        v=peso.autoNumeric('get');
        peso.autoNumeric('destroy');
        peso.val(v);
        return true;
    });



    /*jQuery('#Alimento_Codigo').keyup(function(e){
        if(e.keyCode == 13)
        {
            buscar_alimento();
        }
    });
    */
    jQuery('#Alimento_Codigo').change(function(){
            buscar_alimento();
    });

   jQuery('#LineaSalida_alimento').autocomplete({
      minLength: 2,
      source: function( request, response ) {
            jQuery.getJSON( "{{=URL(c='almacen',f='get_alimentos')}}", 
              request, function( data, status, xhr ) {
              response( data );
            });
        },
    select: function( event, ui ) {
      var jsonString={'alimento':  ui.item.value};
      //jQuery("#contenedor_almacen").hide();
      jQuery.post("{{=URL(c='almacen',f='set_alimento.json')}}", jsonString, {contentType: 'application/json;charset=utf-8'} )
            .success(function(data) {
                jQuery("#stockalimento").hide();
                if (data['stock'] ==0) {
                  jQuery("#LineaSalida_alimento").val("");
                  jQuery("#Alimento_Codigo").val("");
                  
                } else {
                 // jQuery("#contenedor_almacen").show();
                  jQuery("#Alimento_Codigo").val(data["codigo"]);
                  jQuery("#stockalimento").show();
                  stockdisponible=data['stock'];
                  stockdisponible_text=data['stock-text'];
                  jQuery("#valorstock").text(stockdisponible_text);
                  jQuery("#LineaSalida_Unidades").focus();
                  
                }    
                  //jQuery("#list").jqGrid().trigger("reloadGrid");   
            });

    }        

    }); // fin de LineaSalida_alimento autocomplete

   
  jQuery("#list").jqGrid({
    url:'{{=URL(r=request,f="call",args=["json","get_lineas_entradas"])}}',
    data: "{}",
    datatype: 'json',
    mtype: 'GET',
    contentType: "application/json; charset=utf-8",
    cellEdit: false,
    cellsubmit:'remote',
    colNames:['','Alimento','Unidades','PesoUnidad','Caducidad'],

    colModel :[
       {name:'action', width:30, sortable:false,align:"center" },
      {name:'Alimento', index:'Alimento',width:250},
      {name:'Unidades', index:'Unidades',width:70,align:"center"},
      {name:'PesoUnidad', index:'Peso/Unidad',width:90,align:"center"},
      {name:'Caducidad', index:'Caducidad',width:70,align:"center"},
    ],
    pager: '#pager',
    rowNum:20,
    rowList:[20,40,60],
    sortname: 'Descripcion',
    sortorder: 'asc',
    viewrecords: true,
    caption: 'Líneas de esta salida de almacén (Haga doble clic sobre la que desee editar)',
    altRows:true,
    height: 'auto',
    width: 'auto',
    subGrid : false,
    footerrow: true,
    gridComplete: function() {
         var thegrid =jQuery("#list");
         var ids = thegrid.jqGrid("getDataIDs");
          for(var i=0;i < ids.length;i++){
            var cl = ids[i];
            //be = "<input style='height:22px;width:20px;' type='button' value='Borrar' onclick=\"jQuery('#list').editRow('"+cl+"');\"  />"; 
            //be = '<a class="btn btn-mini" href="#" onclick=\"borra_linea('"+cl+"');\"><i class="icon-trash"></i></a>';
            be = '<i class="icon-trash" onclick=\"borra_linea('+cl+');\"></i>';
            thegrid.jqGrid('setRowData',ids[i],{action:be});
            thegrid.jqGrid('footerData', 'set', {'Alimento':'TOTALES:', 'Unidades': thegrid.getGridParam('userData') ['qty_totales'] });
          };

    }, // fin del evento gridComplete
    ondblClickRow: function (id){
      
      window.location.href='{{=URL(r=request,f="nueva_salida")}}' + '/{{=session.current_entrada}}?lid=' + id;
      
    } // fin del evento dblclick

  }); //fin de la definición de jqgrid list

  jQuery("#list").jqGrid().jqGrid('bindKeys',
      {
        onEnter: function(id) {
            window.location.href='{{=URL(r=request,f="nueva_salida")}}' + '/{{=session.current_entrada}}?lid=' + id;
        }
      }
  ); //fin de bindKeys para list



  jQuery("#list").jqGrid().jqGrid('bindKeys',
      {
        onEnter: function(id) {
            
        }
      }
  ); //fin de bindKeys


  }); //fin de evento document.ready

</script>
