{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
{{block right_sidebar}}
{{pass}}
<h4>Algunos atajos de teclado para moverse por la aplicación:</h4>
<ul>
<li><strong>CTRL - e</strong> abre la pantalla de nuevas entradas de almacén.</li>
<li><strong>CTRL - l</strong> abre la pantalla de nuevas salidas de almacén.</li>
<li><strong>Tab</strong> avanza al siguiente cuadro de texto al rellenar un formulario.</li>
<li><strong>Entrar</strong> guarda los datos al rellenar un formulario.</li>
<li>Las flechas de subir y bajar del teclado permiten moverse por las listas desplegadas.</li>
<li>Un doble clic del ratón sobre una fila de un listado de entradas o salidas permite editar la entrada/salida.</li>
</ul>